# Xcode
DerivedData/
build/
*.xcworkspace
xcuserdata/
*.xccheckout
*.xcscmblueprint

# SwiftPM
/.build/
/Packages
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/
Carthage/Checkouts
Carthage/Build

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output_
